@tailwind utilities;
@tailwind components;
@tailwind base;

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  @apply bg-[#f1f1f1f1];
}

ul {
  @apply list-none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold text-[#333333];
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-base;
}

p,
li,
a,
label,
input {
  @apply text-[#444444];
  line-height: 1.8;
}

form {
  @apply flex flex-col gap-4;
}

label {
  @apply block capitalize cursor-pointer text-lg;
}

input {
  @apply focus:bg-blue-100 capitalize shadow outline-none rounded border-none w-full text-lg py-2 px-4 text-[#333333];
}

input::placeholder {
  @apply text-[#888888];
}

button {
  @apply bg-transparent border-none outline-none cursor-pointer active:scale-95;
}

button.btn-primary {
  @apply bg-black text-white text-lg p-2 px-4 rounded transition-all duration-150;
}

button:hover {
  @apply opacity-75;
}

.expenses li {
  @apply flex items-center justify-between p-2 border-b border-[#999999] capitalize;
}

.expenses > li:first-child {
  @apply border-t border-[#999999];
}

.expenses > li:nth-child(odd) {
  @apply bg-[#e6e6e6];
}

.delete-icon {
  @apply cursor-pointer text-base;
}

.modal {
  @apply fixed top-0 left-0 right-0 bottom-0 bg-black bg-opacity-50 z-[99];
}

.modal div {
  @apply absolute bg-white top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[90%] p-4 rounded shadow max-w-[500px];
}
